<div class="alert alert-info" role="alert">
  <span>
    <i class="far fa-images fa-3x d-inline-block" style="vertical-align: middle;"></i>
    <h3 class="alert-heading text-dark d-inline-block justify-center ps-2" style="vertical-align: middle;">Gallery</h3>
  </span>
  <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
</div>

<app-navbar></app-navbar>
<router-outlet></router-outlet>